<!DOCTYPE html>
<html>
<% const PAGE = 'proxygroup'; %>

<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.49.2/lib/codemirror.css">
</head>

<body class="sk-bg-gray">
    <%- include('includes/github-corner') %>
    <%- include('includes/navbar') %>
    <div class="container sk-my-8">
        <%- include('includes/steps', { PAGE }) %>
        <div class="card sk-center">
            <div class="card-body">
                <h2 class="h4 text-center sk-mb-4">Proxy Group 配置</h2>
                <div class="text-justify ce-card-docs">
                    <p>为了在规则组中使用不同的节点，您需要在这里创建在规则组中使用的策略组，注意策略组配置第一行必须为 <code>Proxy Group:</code>。</p>
                    <p>大部份基于规则的客户端都允许策略组嵌套使用，必须先创建要用于嵌套的策略组，才能在之后的策略组中选用此策略组。</p>
                    <p>参考 <a href="https://github.com/Dreamacro/clash#config" target="_blank" rel="external noopenner noreferrer nofollow">Dreamacro 提供的样例</a>。</p>
                </div>
                <br>
                <button class="btn btn-info btn-block" data-toggle="modal" data-target="#ce-modal-proxygroup">新增策略组</button>
            </div>
        </div>
        <div class="card sk-center sk-mt-4">
            <div class="card-body">
                <div class="card" id="proxygroup-editor"></div>
            </div>
            <div class="card-footer text-muted">
                <div class="text-right">
                    <a id="ce-proxygroup-btn-continue" href="/rule" class="btn btn-primary sk-px-4">继续</a>
                    <a href="/proxy" class="btn btn-dark sk-px-4">返回</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/modal') %>

    <div id="ce-modal-proxygroup" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">新增策略组</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="form-proxygroup">
                        <div id="proxygroup-name-container">
                            <div class="h6">策略组名称</div>
                            <input type="text" class="form-control" id="proxygroup-name" name="proxygroup-name">
                            <small class="form-text text-muted">可使用字母、数字、emoji 符号或汉字，区分大小写，不支持特殊字符</small>
                        </div>
                        <div id="proxygroup-policy-container" class="form-group sk-mt-6">
                            <div class="h6">策略组类型</div>

                            <form id="proxygroup-policy-list" class="row proxygroup-policy-list-row">
                                <div class="col-md-6 sk-px-1">
                                    <input class="sk-hide proxygroup-policy-input" type="radio" name="proxygroup-category" id="proxygroup-category-select" value="select" checked>
                                    <label class="card proxygroup-policy-label" for="proxygroup-category-select">
                                        <div class="sk-p-3">
                                            <p class="font-weight-bold sk-mb-1 sk-font-14">手动选择策略组（select）</p>
                                            <p class="sk-mb-0 sk-font-12">自行选择节点或连接策略</p>
                                        </div>
                                    </label>
                                </div>

                                <div class="col-md-6 sk-px-1">
                                    <input class="sk-hide proxygroup-policy-input" type="radio" name="proxygroup-category" id="proxygroup-category-fallback-auto" value="auto">
                                    <label class="card proxygroup-policy-label" for="proxygroup-category-fallback-auto">
                                        <div class="sk-p-3">
                                            <p class="font-weight-bold sk-mb-1 sk-font-14">故障转移策略组（fallback-auto）</p>
                                            <p class="sk-mb-0 sk-font-12">在节点无法连通时自动切换到下一个节点</p>
                                        </div>
                                    </label>
                                </div>

                                <div class="col-md-6 sk-px-1">
                                    <input class="sk-hide proxygroup-policy-input" type="radio" name="proxygroup-category" id="proxygroup-category-auto" value="fallback-auto">
                                    <label class="card proxygroup-policy-label" for="proxygroup-category-auto">
                                        <div class="sk-p-3">
                                            <p class="font-weight-bold sk-mb-1 sk-font-14">自动选择策略组（auto）</p>
                                            <p class="sk-mb-0 sk-font-12">根据 HTTP 延时选择最快的节点</p>
                                        </div>
                                    </label>
                                </div>

                                <div class="col-md-6 sk-px-1">
                                    <input class="sk-hide proxygroup-policy-input" type="radio" name="proxygroup-category" id="proxygroup-category-load-balance" value="load-balance">
                                    <label class="card proxygroup-policy-label" for="proxygroup-category-load-balance">
                                        <div class="sk-p-3">
                                            <p class="font-weight-bold sk-mb-1 sk-font-14">负载均衡（load-balance）</p>
                                            <p class="sk-mb-0 sk-font-12">每个 eTLD 使用同一个节点</p>
                                        </div>
                                    </label>
                                </div>

                            </form>
                        </div>
                        <div id="proxygroup-httpcheck-container">
                            <div class="h6">策略组 HTTP 检测设置</div>
                            <div class="form-group row">
                                <label for="staticEmail" class="col-sm-4 col-form-label">测试 URL</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="proxygroup-httpcheck-url" value="https://i.ytimg.com/generate_204">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-4 col-form-label">测试间隔时长（秒）</label>
                                <div class="col-sm-8">
                                    <input type="number" class="form-control" id="proxygroup-httpcheck-interval" value="300">
                                </div>
                            </div>
                        </div>
                        <div id="proxygroup-select-container" class="form-group sk-mt-6">
                            <div style="height: 32px" class="sk-mb-3">
                                <span class="h6">策略组包含节点（可拖动排序）</span>
                                <button id="ce-proxygroup-btn-select-opposite" type="button" class="btn btn-info btn-sm sk-ml-1 sk-fr">反选</button>
                                <button id="ce-proxygroup-btn-select-all" type="button" class="btn btn-info btn-sm sk-ml-1 sk-fr">全选</button>
                            </div>

                            <div id="proxygroup-select-list" class="row"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" id="modal-footer">
                    <button id="ce-proxygroup-btn-submit" type="button" class="btn btn-primary">添加</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('includes/footer') %>
    <%- include('includes/footer_for_editor') %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-html5sortable@1.0.0/jquery.sortable.min.js"></script>
    <script src="/js/<%= PAGE %>.js"></script>
</body>

</html>
