<!DOCTYPE html>
<html>
<% const PAGE = 'rule'; %>

<head>
    <%- include('includes/head') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prism-themes@1.3.0/themes/prism-vs.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/codemirror@5.49.2/lib/codemirror.css">
    <style>
        .CodeMirror {
            height: 40rem;
        }

    </style>
</head>

<body class="sk-bg-gray">
    <%- include('includes/github-corner') %>
    <%- include('includes/navbar') %>
    <div class="container sk-my-8">
        <%- include('includes/steps', { PAGE }) %>
        <div class="card sk-center">
            <div class="card-body">
                <h2 class="h4 text-center sk-mb-4">Rules 配置</h2>
                <div class="text-justify ce-card-docs">
                    <p>在这里，您需要填充 Clash 的规则部分配置。注意规则配置第一行必须为 <code>Proxy:</code>。</p>
                    <p>Clash 可以通过域名（<code>DOMAIN-SUFFIX</code> <code>DOMAIN-KEYWORD</code> <code>DOMAIN</code>）、目标 IP（<code>IP-CIDR</code>）、来源 IP（<code>SRC-IP-CIDR</code>）、目标端口（<code>DST-PORT</code>）、来源端口（<code>SRC-PORT</code>）和目标国家（<code>GEOIP</code>）匹配请求，具体如何使用请参考 <a href="https://github.com/Dreamacro/clash#config" target="_blank" rel="external noopenner noreferrer nofollow">Dreamacro 提供的样例</a>。</p>
                    <br>
                    <pre><code class="language-yaml">Rule:
- DOMAIN-SUFFIX,google.com,[策略组的名称]
- DOMAIN-KEYWORD,google,[策略组的名称]
- DOMAIN,google.com,[策略组的名称]
- DOMAIN-SUFFIX,ad.com,REJECT
- IP-CIDR,127.0.0.0/8,DIRECT
# rename SOURCE-IP-CIDR and would remove after prerelease
- SRC-IP-CIDR,192.168.1.201/32,DIRECT
- GEOIP,CN,DIRECT
- DST-PORT,80,DIRECT
- SRC-PORT,7777,DIRECT
# FINAL would remove after prerelease
# you also can use `FINAL,Proxy` or `FINAL,,Proxy` now
- MATCH,[策略组的名称]</code></pre>
                </div>
            </div>
        </div>
        <div class="card sk-center sk-mt-4">
            <div class="card-body">
                <p class="sk-mb-0">上一步您创建了以下策略组：<span id="rule-proxygroup-list"></span>。您在接下来编写规则组时只能使用这些策略组。</p>
            </div>
        </div>
        <div class="card sk-center sk-mt-4">
            <div class="card-body">
                <div class="card" id="rule-editor"></div>
            </div>
            <div class="card-footer text-muted">
                <div class="text-right">
                    <button id="ce-rule-btn-finish" class="btn btn-primary sk-px-4">结束</button>
                    <a href="/proxygroup" class="btn btn-dark sk-px-4">返回</a>
                </div>
            </div>
        </div>
    </div>
    <%- include('includes/modal') %>
    <%- include('includes/footer') %>
    <%- include('includes/footer_for_editor') %>
    <script src="/js/<%= PAGE %>.js"></script>
</body>

</html>
